@import "variables";

.cart__item-input {
  width: 30px;
  height: 30px;
  color: $black;
  border: 1px solid transparent;
  border-radius: 4px;
  // overflow: hidden;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.01em;
  font-family: "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;
  line-height: 23px;
  // padding: 5px;
  margin: 5px;
}
