@import "variables";

.product-block {
  display: flex;
  justify-content: space-between;
  &__left {
    width: 29%;
    text-align: center;
    img {
      margin: 10px;
    }
  }

  &__right {
    width: 69%;
    text-align: start;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 10px 0 0 10px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
  }
  &__line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  &__rating {
    margin: 0 0 10px 10px;
    max-width: 50px;
    font-weight: bold;
    font-size: 22px;
    line-height: 23px;
    letter-spacing: 0.015em;
    display: flex;
    justify-content: space-around;
  }
  &__rating-svg {
    svg {
      background-color: $orange;
    }
    path {
      color: transparent;
    }
  }
  &__rating-text {
    line-height: 23px;
  }

  &__selector {
    max-width: 300px;
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;
    margin: 10px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
        &.disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }
  }
  &__price {
    margin: 10px;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
  &__text {
    margin: 10px;
  }
  &__button {
    margin: 10px;
  }
}
